* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

header {
    min-height: 40px;
    color: #F27125;
    background-image: linear-gradient(to right, #FAFF00, #FFF200, #FFE600, #FFD900, #FFCC00, #FFBF00, #FFB300, #FFA600, #FF9900, #FF8C00, #FF8000);
}

.image img {
    height: 100%;
    width: 100%;
}

.image {
    max-width: 20%;
}

header nav .menu ul li a {
    display: block;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;
    color: #F27125;
    font-size: 17px;
}

header nav .menu ul li a::after {
    content: '';
    background: rgb(255, 0, 0);
    width: 0%;
    height: 3px;
    margin: auto;
    display: block;
    transition: 0.2s ease-in-out;
}

header nav .menu ul li a:hover::after {
    width: 100%;
}

header nav .menu ul li a:hover {
    transform: translateY(-20%);
    transform: scale(1.1);
}

header {
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#lienhe {
    color: #DE5E13;
}

.search-bar input {
    padding-left: 20px;
    width: 100%;
}

.search-bar input:focus {
    outline: none;
    border: 1px solid #d9d9d9;
}

header nav .menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    font-size: 100%;
}

header nav {
    display: flex;
    justify-content: space-around;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: bold;
}

header nav .search-bar {
    display: flex;
    align-items: center;
    width: 25%;
    font-family: "Open Sans", sans-serif;
}

#search {
    min-height: 40px;
    min-width: 200px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    border: none;
}

.video video {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.navigation_bar {
    display: flex;
    padding-left: 10%;
    border-bottom: 1px solid #d9d9d9;
}

.navigation_bar h4 {
    float: left;
    margin: 10px 5px;
}

.navigation_bar a {
    color: black;
}

.main_info {
    margin: 45px 60px;
}

.campus_1,
.campus_2 {
    display: flex;
    align-items: center;
    background-color: #FF8C01;
}

.campus_1_text,
.campus_2_text {
    padding: 0 40px;
    width: 50%;
    color: white;
}

.campus_1_text p,
.campus_2_text p {
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    width: 100%;
    text-wrap: wrap;
}

.campus_1_text h1,
.campus_2_text h1 {
    font-size: 35px;
    margin: 0 0 20px 0;
}

.campus_1 img,
.campus_2 img {
    border-radius: 0;
    box-shadow: none;
    transition: .2s;
    width: 50%;
}

.campus_1 img:hover {
    box-shadow: -5px 5px 10px;
    border-radius: 10px;
    transform: scale(1.05);
}

.campus_2 img:hover {
    box-shadow: 5px 5px 10px;
    border-radius: 10px;
    transform: scale(1.05);
}

.campus_1_text a,
.campus_2_text a {
    color: white;
    text-decoration: underline;
}

.statistics {
    margin-bottom: 30px;
}

.statistics img {
    width: 100%;
}

footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 1% 5%;
    background-image: linear-gradient(to left, #FAFF00, #FFF200, #FFE600, #FFD900, #FFCC00, #FFBF00, #FFB300, #FFA600, #FF9900, #FF8C00, #FF8000);
}

.location,
.phone_number,
.email {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.left {
    margin-right: 30px;
}

.left h3 {
    text-transform: uppercase;
}

.left p {
    font-size: 15px;
}

.text {
    width: 100%;
    padding-left: 15px;
}

i {
    margin: 0;
    padding-top: 5px;
}

.right img {
    max-height: 100px;
}

.right h3 {
    margin: 20px 0;
}

.inbox img {
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.inbox img:hover {
    transform: scale(1.1);
}

.inbox {
    max-height: 75px;
    max-width: 75px;
}

.search-bar input {
    position: relative;
}

.search-bar {
    align-content: center;
}

.search-bar input {
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 100px;
}

.search-icon {
    position: relative;
    right: 50px;
    bottom: 2px;
    cursor: pointer;
    max-width: 27px;
    max-height: 27px;
}

.search-icon:hover {
    scale: 115%;
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
    header nav .menu ul li a {
        font-size: 15px;
        width: 100%;
        margin: 0 10px;
    }
    .search-bar input {
        height: 35px;
    }
    #search {
        min-height: 25px;
        min-width: 90px;
    }
    .search-icon {
        height: 25px;
    }
    .campus_1_text p,
    .campus_2_text p {
        text-align: justify;
        line-height: 18px;
        font-size: 15px;
        width: 100%;
    }
    .campus_1_text h1,
    .campus_2_text h1 {
        font-size: 23px;
        margin: 0 0 20px 0;
    }
    .left h3 {
        text-transform: uppercase;
        font-size: 17px;
    }
    .left p {
        font-size: 10px;
    }
    .right img {
        max-height: 80px;
    }
    .right h3 {
        margin: 20px 0;
        font-size: 17px;
    }
    .inbox img {
        height: 100%;
        width: 100%;
        transition: 0.2s ease-in-out;
    }
    .inbox {
        max-height: 50px;
        max-width: 50px;
    }
    iframe {
        height: 75px;
    }
}

@media only screen and (min-device-width: 641px) and (max-device-width: 1024px) {
    header nav .menu ul li a {
        font-size: 10px;
        width: 100%;
        margin: 0 10px;
    }
    .main_info {
        margin: 45px 10px;
    }
    .image img {
        width: 100%;
        margin-left: 10px;
    }
    .search-bar input {
        margin-left: 15px;
        height: 25px;
        width: 100px;
        font-size: 10px;
        padding: 5px;
    }
    #search {
        min-height: 25px;
        min-width: 100px;
    }
    .search-icon {
        display: none;
    }
    .campus_1_text h1,
    .campus_2_text h1 {
        font-size: 15px;
        margin: 0 0 10px 0;
    }
    .campus_1_text p,
    .campus_2_text p {
        text-align: justify;
        line-height: 15px;
        font-size: 10px;
        width: 100%;
    }
    footer {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding: 1% 5%;
        background-image: linear-gradient(to left, #FAFF00, #FFF200, #FFE600, #FFD900, #FFCC00, #FFBF00, #FFB300, #FFA600, #FF9900, #FF8C00, #FF8000);
    }
    .location,
    .phone_number,
    .email {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    .left {
        margin-right: 15px;
    }
    .left h3 {
        font-size: 15px;
        text-transform: uppercase;
    }
    .left p {
        font-size: 10px;
    }
    .text {
        width: 100%;
        padding-left: 15px;
    }
    i {
        margin: 0;
        font-size: 10px;
        padding-top: 5px;
    }
    .right img {
        max-height: 50px;
    }
    .right h3 {
        margin: 20px 0;
        font-size: 13px;
    }
    .inbox img {
        height: 75%;
        width: 75%;
        transition: 0.2s ease-in-out;
    }
    .inbox img:hover {
        transform: scale(1.1);
    }
    .inbox {
        max-height: 60px;
        max-width: 60px;
    }
    iframe {
        height: 75px;
        width: 100%;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    header nav .menu ul li a {
        font-size: 7px;
        width: 100%;
        margin: 0 7px;
    }
    header {
        min-height: 30px;
    }
    .image img {
        width: 100%;
        margin-left: 5px;
    }
    .search-bar input {
        width: 65px;
        height: 17px;
        font-size: 5px;
        padding-left: 7px;
        margin-left: 7px;
        margin-right: 0;
    }
    #search {
        min-height: 14px;
        min-width: 30px;
    }
    .search-icon {
        display: none;
    }
    .campus_1_text,
    .campus_2_text {
        width: 100%;
        padding: 0 5px;
    }
    .campus_1_text p,
    .campus_2_text p {
        text-align: justify;
        line-height: 9px;
        font-size: 7px;
        width: 100%;
    }
    .campus_1_text h1,
    .campus_2_text h1 {
        font-size: 10px;
        margin: 0 0 6px 0;
    }
    .left {
        order: 2;
        padding-bottom: 20px;
        margin-right: 0;
    }
    .left h3 {
        text-transform: uppercase;
        font-size: 13px;
    }
    .left p {
        font-size: 10px;
    }
    .right {
        margin: auto;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        order: 1;
    }
    .right img {
        max-height: 50px;
    }
    .right h3 {
        margin: 10px 0;
        font-size: 15px;
    }
    .inbox {
        display: none;
    }
    footer {
        flex-direction: column;
    }
    .main_info {
        margin: 0 0;
    }
    .navigation_bar h4 {
        font-size: 10px;
    }
}
